# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm

# node_modules
node_modules/

# dist & gulpfile
dist/
gulpfile.js

# install script
install.sh

# sass-cache
.sass-cache/

# env file
auth.env