<md-sidenav md-component-id="left">
	<md-toolbar class="md-theme-light md-tall" style="min-height: 200px;">
		<!--<h1 class="md-toolbar-tools">Table of Contents</h1>-->
		<img src="../assets/images/angular-logo.svg">
	</md-toolbar>
	<md-list>
		<md-list-item ng-click="main.changeState('home')">
			<md-icon>
				<ng-md-icon icon="home"></ng-md-icon>
			</md-icon>
			<p>Home</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-subheader class="md-no-sticky">Topics</md-subheader>
		<md-list-item ng-repeat="topic in main.topics" ng-click="main.changeState(topic.stateName, topic.param)">
			<!-- Need to do this because ng-md-icon doesn't provide its own padding -->
			<md-icon>
				<ng-md-icon icon="{{ topic.icon }}"></ng-md-icon>
			</md-icon>
			<p>{{ topic.name }}</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item ng-click="main.changeState('settings')">
			<md-icon>
				<ng-md-icon icon="settings"></ng-md-icon>
			</md-icon>
			<p>Settings</p>
		</md-list-item>
	</md-list>
</md-sidenav>
