[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/* START: homepage view */
.view {
  margin-top: 50px; }

/* END: homepage view */
/* START: hacw-header */
hacw-header {
  font-family: "Roboto";
  font-weight: 400; }
  hacw-header nav.navbar {
    background: #303F9F;
    border: none; }
    hacw-header nav.navbar #navbar ul li a {
      color: white; }
  hacw-header .dropdown-menu {
    padding: 0px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 2px !important; }
    hacw-header .dropdown-menu li a {
      color: black !important;
      height: 36px;
      line-height: 32px; }
  hacw-header .custom_boxes {
    width: 300px;
    height: 300px; }
    hacw-header .custom_boxes .grid_list {
      margin: 0px;
      padding: 0px;
      list-style-type: none; }
      hacw-header .custom_boxes .grid_list li {
        float: left;
        width: 100px;
        height: 100px;
        background: pink;
        text-align: center;
        line-height: 100px; }
  hacw-header .navbar-default .navbar-nav > .open > a, hacw-header .navbar-default .navbar-nav > .open > a:hover, hacw-header .navbar-default .navbar-nav > .open > a:focus {
    background: #303F9F; }
  hacw-header .navbar-nav li#brandLogo a {
    padding: 0px; }
    hacw-header .navbar-nav li#brandLogo a #logo {
      padding: 6px;
      width: 50px; }
  hacw-header .navbar-nav li#brandName a {
    font-size: 24px;
    font-family: "Cabin";
    font-weight: 600;
    padding: 14px 20px 14px 20px; }
  hacw-header .navbar-nav li#active a {
    height: 50px;
    border-bottom: 3px solid #009688; }

/* END: hacw-header */
/* START: hacw-banner */
hacw-banner .jumbotron {
  margin-top: 50px;
  background: #303F9F;
  padding-left: 15px;
  padding-right: 15px; }
  hacw-banner .jumbotron .container {
    color: #FFF; }
  hacw-banner .jumbotron h1 {
    font-size: 40px;
    font-weight: 300; }

/* END: hacw-banner */
/* START: hacw-button */
hacw-button button {
  background: #FFF;
  border: 0px;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #303F9F;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 8px 16px 8px 16px;
  cursor: pointer;
  -webkit-transition: background 0.2s, box-shadow 0.2s;
  -moz-transition: background 0.2s, box-shadow 0.2s;
  -o-transition: background 0.2s, box-shadow 0.2s;
  -ms-transition: background 0.2s, box-shadow 0.2s;
  transition: background 0.2s, box-shadow 0.2s; }
  hacw-button button:focus {
    outline: none; }
  hacw-button button:hover {
    background: #f5f5f5;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.26); }
  hacw-button button:active {
    box-shadow: 0 8px 9px 0 rgba(0, 0, 0, 0.26); }

/* END: hacw-button */
/* START: flat-button */
.flat-button {
  text-decoration: none;
  background: #FFF;
  border: 0px;
  border-radius: 2px;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #303F9F;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  -ms-transition: background 0.2s;
  transition: background 0.2s; }
  .flat-button:focus {
    outline: none; }
  .flat-button:hover {
    text-decoration: none;
    background: #f5f5f5; }

/* END: flat-button */
/* hiding */
.ng-hide-add {
  animation: 0.1s hideIt; }

@keyframes hideIt {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* showing */
.ng-hide-remove {
  animation: 0.5s showIt; }

@keyframes showIt {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
