@import 'mixins';

@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/Helvetica Neue/HelveticaNeue.otf');
}

@font-face {
	font-family: 'Helvetica Neue Bold';
	src: url('../fonts/Helvetica Neue/HelveticaNeue-Bold.otf');
}

@font-face {
	font-family: 'Helvetica Neue Medium';
	src: url('../fonts/Helvetica Neue/HelveticaNeue-Medium.otf');
}

@font-face {
	font-family: 'Helvetica Neue Light';
	src: url('../fonts/Helvetica Neue/HelveticaNeue-Light.otf');
}

@font-face {
	font-family: 'Helvetica Neue Light2';
	src: url('../fonts/Helvetica Neue/HelveticaNeue-UltraLight.otf');
}

$fontNormal: 'Helvetica Neue', sans-serif;
$fontLight: 'Helvetica Neue Light2', sans-serif;
$fontBold: 'Helvetica Neue Bold', sans-serif;

/*$mainAccent: #f23e3e;*/
$lightAccent: #3949AB;
$darkAccent: #303F9F;

$breakSmall: 768px;
$breakMedium: 992px;

body {
	font-family: $fontNormal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	margin: 0px;
	font-size: 30px;
	line-height: 80px;
	font-size: 25px;
	color: #FFF;
	font-family: $fontNormal;
	/* try important if no work */
}

a, a:hover {
	text-decoration: none!important;
}

.computer_parts, .navigation {
	position: fixed;
	left: 0px;
	width: 100%;
}

.computer_parts {
	top: calc(-100% - 20px);
	height: 100%;
	background: #FFF;
	box-shadow: 0px -5px 20px #000;
	z-index: 2000;
	@include transition(top 0.4s cubic-bezier(.42,0,1,1));
}

.top_heading {
	padding-top: 50px;
}

.hamburger {
	display: none;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.parts_section_title {
	font-family: $fontBold;
	font-size: 13px;
	color: #999;
	text-transform: uppercase;
}

.close_button_wrapper {
	padding: 5px 5px 5px 0px;
	cursor: pointer;
	color: #000;
}

.computer_parts .col-sm-4 {
	a {
		text-decoration: none;
		color: #000;
		outline: none;
		@include transition(color 0.2s);
	}

	a:hover, a:focus {
		color: $lightAccent;
	}

	h3 {
		font-size: 21px;
	}
}

.navigation {
	float: left;
	top: 0px;
	height: 80px;
	z-index: 1000!important;
	background: $lightAccent;
	.container .col-sm-6:nth-child(2) button {
		float: right;
	}
}

.dropdown_nav {
	background: #FFF;
}

.right_action {
	ul {
		list-style-type: none;
		background: $lightAccent;
		height: 80px;
	}

	ul li {
		display: inline-block;
		float: right;
		margin-right: 20px;
	}
}

.components_button, .dd_close_button {
	height: 35px;
	width: 120px;
	margin-top: 22.5px;
	border: 2px solid #FFF;
	border-radius: 20px;
	color: #FFF;
	outline: none;
	font-family: $fontBold;
	background: transparent;
	text-transform: uppercase;
	font-size: 11px;
	line-height: 28px;
	@include transition(background 0.3s, color 0.3s);
}

.components_button:hover {
	background: #FFF;
	color: $lightAccent;
}

.dd {
	visibility: hidden;
}

.dd_close_button {
	float: right;
	border: 2px solid $lightAccent;
	color: $lightAccent;
}

.dd_close_button:hover {
	background: $lightAccent;
	color: #FFF;
}

$dd_nav_height: 40px;

.dd_content {
	position: absolute;
	top: 80px;
	left: 0px;
	width: 100%;
	height: calc(100% - 265px);
	.nav_list_dd {
		position: absolute;
		top: 0px;
		left: calc(50% - 150px);
		width: 300px;
		height: auto;
	}
	.nav_list_dd {
		ul li {
			width: 300px;
			height: $dd_nav_height;
			text-align: center;
			margin-top: 10px;
		}
	}
	.nav_list_dd {
		ul li a {
			float: left;
			color: $lightAccent;
			font-family: $fontBold;
			text-transform: uppercase;
			font-size: 11px;
			width: 100%;
			height: 100%;
			text-align: center;
			line-height: $dd_nav_height;
			border-radius: 27px;
			@include transition(background 0.3s, color 0.3s);
		}
		ul li a:hover {
			background: $lightAccent;
			color: #FFF;
		}
	}
}

.search {
	width: 300px;
	height: $dd_nav_height;
	border: 0px;
	outline: none;
	padding: 5px 20px 5px 20px;
	border-radius: 20px;
	font-size: 11.5px;
	font-family: $fontBold;
	background: #FFF;
	border: 2px solid $lightAccent;
	color: $lightAccent;
	text-transform: uppercase;
	text-align: center;
}

::-webkit-input-placeholder {
	text-align: center;
}

:-moz-placeholder {
	text-align: center; /* Firefox 18- */
}

::-moz-placeholder {
	text-align: center; /* Firefox 19+ */
}

:-ms-input-placeholder {
	text-align: center;
}

.hamburger {
	position: absolute;
	top: 0px;
	right: 10px;
	width: 80px;
	height: 80px;
	background: url('../images/hamburger_menu.png') no-repeat center center;
	background-size: 40%;
	cursor: pointer;
}

.view {
	margin-top: 80px;
	z-index: -1000!important;
}

footer {
	padding: 50px 0px 50px 0px;
	background: #FFF;
	ul li a {
		float: left;
		margin-left: 15px;
		height: 35px;
		text-align: center;
		width: 120px;
		border-radius: 20px;
		color: $lightAccent;
		font-family: $fontBold;
		background: #FFF;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 35px;
		@include transition(background 0.3s, color 0.3s);
	}
	ul li {
		a:hover, a:focus {
			color: #FFF;
			background: $lightAccent;
		}
	} 
}

@media only screen and (max-width: $breakMedium) {
	.navigation .container {
		margin: 0px;
		margin-left: 26.5px;
		width: calc(100% - 156.5px);
	}
}

@media only screen and (max-width: $breakSmall) {
	.computer_parts {
		overflow-y: scroll;
	}
	.main_title h1 {
		font-size: 20px;
	}
	.hamburger {
		display: block;
	}
	.navigation .container .col-sm-6:nth-child(2) {
		display: none;
	}
	.dd_close_button {
		position: absolute;
		right: calc(50% - 150px);
	}
}




















