<div ng-controller="HeaderController as header">
    <nav class="navbar navbar-default navbar-fixed-top">
  		<div class="container">
        	<div class="navbar-header">
	          	<button type="button" class="flat-button nav-button" ng-click="main.toggleMobileMenu()">Menu</button>
        	</div>
	        <div id="navbar" class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav">
					<li id="brandName"><a href="/"><img id="brandLogo" width="50" src="assets/images/minimal-hacw-logo-2.png"></a></li>
	            	<li class="dropdown">
	              		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Topics <span class="caret"></span></a>
	              		<ul class="dropdown-menu">
	              			<li ng-repeat="topic in main.topics"><a ui-sref="topic({topicName: topic.param})">{{ topic.name }}</a></li>
	              		</ul>
	            	</li>
	            	<li><a href="about">About</a></li>
	            	<li><a href="contact">Contact</a></li>
	          	</ul>
	          	<ul class="nav navbar-nav navbar-right">
	          		<li><a href="login">Login</a>
	          	</ul>
	          	<!--<ul class="nav navbar-nav navbar-right">
	            	<li><a href="../navbar/">Default</a></li>
	            	<li><a href="../navbar-static-top/">Static top</a></li>
	            	<li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
	          	</ul>-->
	    	</div><!--/.nav-collapse -->
      	</div>
    </nav>
</div>
