<div ng-controller="HeaderController as header">
	<md-content>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" style="fill: white;" ng-click="main.openSideMenu()">
					<ng-md-icon icon="menu"></ng-md-icon>
				</md-button>
				<h2>
					<span>Home</span>
				</h2>
				<span flex=""></span>
				<md-input-container md-no-float class="md-block">
					<input class="main-search" placeholder="Search" ng-style="header.searchStyle" focus="true">
				</md-input-container>
				<md-button class="md-icon-button" style="fill: white;" ng-click="header.searchBarToggle(header.searchActive)">
					<ng-md-icon ng-show="!header.searchActive" icon="search"></ng-md-icon>
					<ng-md-icon ng-show="header.searchActive" icon="close"></ng-md-icon>
				</md-button>
				<md-menu md-position-mode="target-right target">
					<md-button class="md-icon-button" ng-click="$mdOpenMenu()">
						<ng-md-icon icon="more_vert" style="fill: white;"></ng-md-icon>
					</md-button>
					<md-menu-content width="3">
						<md-menu-item ng-repeat="item in [1,2,3]">
							<md-button><span md-menu-align-target>Option</span> {{ item }}</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
	</md-content>
</div>
