@import "_mixins";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

$navbarHeight: 50px;
$bottomRibbon: 3px;
$mainAccent: #1D1D1D;
$compAccent: #333333;

body {
	font-family: 'Roboto', sans-serif;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	li a {
		text-decoration: none;
		color: $mainAccent;
		&:hover {
			color: $mainAccent;
		}
	}
}

/* START: homepage view */

.view {
	margin-top: $navbarHeight;
}

/* END: homepage view */

/* START: hacw-header */

hacw-header {
	font-weight: 400;
	nav.navbar {
		background: $mainAccent;
		border: none;
		#navbar ul li a {
			color: white;
		}
	}
	.dropdown-menu {
		padding: 0px;
		border: none;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		border-radius: 2px!important;
		li {
			a {
				color: black!important;
				height: 36px;
				line-height: 32px;
			}
		}
	}
	.custom_boxes {
		width: 300px;
		height: 300px;
		.grid_list {
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			li {
				float: left;
				width: 100px;
				height: 100px;
				background: pink;
				text-align: center;
				line-height: 100px;
			}
		}
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background: $mainAccent;
	}
	.navbar-nav {
		li > img#brandLogo {
			height: 50px;
		}
		li#brandName a {
			font-size: 24px;
			font-weight: 600;
			padding: 0px!important;
		}
		li#active a {
			height: $navbarHeight;
			border-bottom: $bottomRibbon solid #009688;
		}
	}
}

/* END: hacw-header */

/* START: hacw-banner */

$jumbotronHeight: 300px;

hacw-banner {
	.jumbotron {
		margin-top: $navbarHeight;
		background: $mainAccent;
		padding-left: 15px;
		padding-right: 15px;
		.container {
			color: #FFF;
		}
		h1 {
			font-size: 40px;
			font-weight: 300;
		}
	}
}

/* END: hacw-banner */

/* START: hacw-button */

hacw-button {
	button {
		background: #FFF;
		border: 0px;
		border-radius: 2px;
		font-size: 14px;
		font-weight: 400;
		color: $mainAccent;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
		padding: 8px 16px 8px 16px;
		cursor: pointer;
		@include transition(background 0.2s, box-shadow 0.2s);
		&:focus {
			outline: none;
		}
		&:hover {
			background: #f5f5f5;
			box-shadow: 0 4px 7px 0 rgba(0,0,0,.26);
		}
		&:active {
			box-shadow: 0 8px 9px 0 rgba(0,0,0,.26);
		}
	}
}

/* END: hacw-button */

/* START: flat-button */

.flat-button {
	text-decoration: none;
	background: #FFF;
	border: 0px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 400;
	color: $mainAccent;
	padding: 12px 16px 12px 16px;
	cursor: pointer;
	text-transform: uppercase;
	@include transition(background 0.2s);
	&:focus {
		outline: none;
	}
	&:hover {
		text-decoration: none;
		background: #f5f5f5;
	}
}

/* END: flat-button */

/* START: hacw-footer */

footer h4 {
	color: #FFF;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

footer p {
	color: #CCC;
	font-size: 14px;
	line-height: 16px;
}

footer ul li { 
	margin-bottom: 5px;
	a {
		color: #CCC;
		@include transition(color 0.2s);
		&:hover {
			text-decoration: none;
			color: #FFF;
		}
	}
}

hacw-footer {
	footer {
		width: 100%;
		min-height: 350px;
		background: $mainAccent;
		.container {
			padding-top: 20px;
		}
	}
}

/* END: hacw-footer */


/* hiding */
.ng-hide-add {
	animation: 0.1s hideIt;
}

@keyframes hideIt {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* showing */
.ng-hide-remove {
	animation: 0.5s showIt;
}

@keyframes showIt {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
