body {
	font-family: "Source Sans Pro";
}

.container {
	padding-left: 15px;
	padding-right: 15px;
}

p {
	line-height: 30px;
}

h4 {
	margin-top: 18px;
}

.referenceList {
	padding-left: 19px;
	font-size: 15px;
	word-wrap: break-word;
	padding-bottom: 20px;
	margin-bottom: 0px;
}

.lastParagraph {
	margin-bottom: 0px;
}

.highlight {
	background: #FFFF00;
}